.carInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 68px;
  padding: 32px 24px 0;
  border-radius: 16px;
  background-color: var(--white);
}

.modelNameWrapper {
  display: flex;
  align-items: baseline;
  gap: 16px;
  margin-bottom: 8px;
}

.modelName {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.stockNumber {
  font-weight: 500;
  line-height: 20px;
  color: var(--gray);
}

.locationWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 16px;
}

.location {
  font-weight: 500;
  line-height: 20px;
}

.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--light-blue);
  margin-bottom: 32px;
}

.description {
  font-weight: 500;
  line-height: 20px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.details:not(:last-child) {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--light-gray);
}

.details:not(:first-child) {
  padding-top: 24px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.listItemText {
  font-weight: 500;
  line-height: 20px;
}