.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image {
  margin-bottom: 40px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--main);
  margin-bottom: 16px;
}

.description {
  max-width: 351px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: var(--main);
  margin-bottom: 40px;
}

.button {
  width: 156px;
  padding: 12px 31px;
  border-radius: 12px;
  border: 1px solid var(--light-blue);
  font-family: var(--font-manrope), sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: var(--main);
  transition: var(--transition-border-color);
}

.button:hover {
  border: 1px solid var(--dark-blue);
}